/* welcome.html */
.homepage_button {
    float: right;
    height: 35px;
    width: 100px;
    background-color: #353C48;
    color: white;
    border-radius: 0 0 0 10px;
    font-size: large
}

.exit_button {
    height: 35px;
    width: 100px;
    background-color: #353C48;
    color: white;
    border-radius: 0 0 0 10px;
    font-size: large;
}

/* home.html */
.title h1 h3 {
    color: black;
    text-align: center;
    margin-left: 410px;
}

/* login.html */
.login {
    box-shadow: 4px 4px 6px #2a262a;
    margin-left: -webkit-calc(50% - 150px);
    margin-top: 200px;
    width: 320px;
    height: 320px;
    background-color: white;
    opacity: 0.8;
    border-radius: 20px;
    text-align: center;
}
.info_input {
    width: 90%;
    background-color: #d1d0d1;
    border-radius: 50px;
    text-align: center;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    height: 30px;
    border: 0;
}
.commit_button {
    width: 90%;
    height: 35px;
    border-radius: 50px;
    background-color: #f25e78;
    color: white;
    font-size: large;
    border: 0;
    box-shadow: 4px 4px 4px #a0a0a0;
}
span {
    color: #f25e78;
}

/* project_list.html */
.add-new-project-button {
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-top: 0;
    position: fixed;
    top: 0;
    left: -webkit-calc(50% - 75px);
    width: 150px;
    height: 40px;
    font-size: x-large;
    background-color: white;
    color:black ;
    border-radius: 0 0 10px 10px;
}

.popup_div {
    width: 50%;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    left: 25%;
    top: 30px;
    padding-left: 10px;
    box-shadow: 4px 4px 8px grey;
    border-radius: 5px;
    display: none;  //默认隐藏
}