<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>

<body style="text-align: center;background-image: url('../static/image/background.jpg')" >
    {% include 'welcome.html' %}
    <h1>欢迎使用 接口测试 平台</h1>
    <h3>Welcome to apiTest platform.</h3>

    <div style="border: 1px solid black;width: 200px;text-align: left;margin-left: -webkit-calc(50% - 100px);padding-left: 10px">
        <h2>如何使用：</h2>
        1. 打开左侧菜单<br>
        2. 找到要用的功能<br>
        3. 点击进入<br><br>
    </div>

    <h2>更新信息：</h2>
    <span>项目模块管理上线，并修复已知bug</span>

    <h2>反馈：</h2>
    <span>如有问题，请发邮件至：1624683462@qq.com</span><br>
    <span>或进入<a href="">本平台的优化建议</a>中进行反馈</span>
    <br><br>
    <img src="../static/image/tp2.png" alt="哦呦~图片不见了！" style="width: 240px;height: 100px;background-color: darkcyan">
</body>
</html>